/* CSS variables — semánticos */
:root {
  --text-info: #002664;
  --text-link: #004fbd;
  --text-brand: #004fbd;
  --text-error: #a80017;
  --text-muted: #6f6f78;
  --text-default: #16161d;
  --text-primary: #121722;
  --text-success: #006b2d;
  --text-warning: #7b4c00;
  --text-disabled: #828998;
  --text-tertiary: #69707e;
  --text-on-accent: #f4f4fe;
  --text-secondary: #3b414e;
  --text-link-hover: #003a8f;
  --text-on-inverse: #f0f5ff;
  --text-on-primary: #f0f5ff;
  --text-on-tertiary: #f0f5ff;
  --text-on-secondary: #f0f5ff;
  --icon-error: #a80017;
  --icon-muted: #6f6f78;
  --icon-brand: #004fbd;
  --icon-info: #004fbd;
  --icon-accent: #2269db;
  --icon-default: #404048;
  --icon-primary: #121722;
  --icon-success: #006b2d;
  --icon-warning: #7b4c00;
  --icon-on-color: #f0f5ff;
  --icon-tertiary: #828998;
  --icon-secondary: #3b414e;
  --icon-on-primary: #f0f5ff;
  --icon-on-tertiary: #f0f5ff;
  --icon-on-secondary: #f0f5ff;
  --border-info: #2269db;
  --border-error: #ce1c28;
  --border-focus: #2269db;
  --border-accent: #2269db;
  --border-strong: #69707e;
  --border-subtle: #b6becd;
  --border-default: #9ca3b2;
  --border-success: #00873b;
  --border-warning: #9b6200;
  --border-disabled: #b6becd;
  --border-stronger: #3b414e;
  --border-info-hover: #004fbd;
  --border-error-hover: #a80017;
  --border-info-subtle: #6aa2ff;
  --border-error-subtle: #ff6e67;
  --border-success-hover: #006b2d;
  --border-warning-hover: #7b4c00;
  --border-success-subtle: #1cc25c;
  --border-warning-subtle: #df8f00;
  --status-info-border: #2269db;
  --status-info-default: #2269db;
  --status-info-surface: #c4dbff;
  --status-info-on-surface: #003a8f;
  --status-error-border: #ce1c28;
  --status-error-default: #ce1c28;
  --status-error-surface: #ffcac5;
  --status-error-on-surface: #7f000f;
  --status-neutral-border: #515866;
  --status-neutral-default: #3b414e;
  --status-neutral-surface: #d1d9e9;
  --status-neutral-on-surface: #3b414e;
  --status-success-border: #00873b;
  --status-success-default: #00873b;
  --status-success-surface: #6afb91;
  --status-success-on-surface: #004f20;
  --status-warning-border: #9b6200;
  --status-warning-default: #9b6200;
  --status-warning-surface: #ffd099;
  --status-warning-on-surface: #5c3800;
  --content-link: #004fbd;
  --content-muted: #69707e;
  --content-accent: #004fbd;
  --content-subtle: #3b414e;
  --content-default: #121722;
  --content-inverse: #f0f5ff;
  --content-on-info: #f0f5ff;
  --content-disabled: #828998;
  --content-on-error: #f0f5ff;
  --content-on-accent: #f0f5ff;
  --content-on-success: #f0f5ff;
  --content-on-warning: #121722;
  --content-on-secondary: #121722;
  --content-on-info-subtle: #003a8f;
  --content-on-error-subtle: #7f000f;
  --content-on-success-subtle: #004f20;
  --content-on-warning-subtle: #5c3800;
  --content-on-accent-disabled: #f0f5ff;
  --surface-info: #2269db;
  --surface-error: #ce1c28;
  --surface-accent: #2269db;
  --surface-canvas: #d1d9e9;
  --surface-subtle: #d1d9e9;
  --surface-default: #f0f5ff;
  --surface-inverse: #121722;
  --surface-overlay: #f0f5ff;
  --surface-success: #00873b;
  --surface-warning: #9b6200;
  --surface-secondary: #b6becd;
  --surface-info-hover: #004fbd;
  --surface-error-hover: #a80017;
  --surface-info-subtle: #c4dbff;
  --surface-accent-hover: #004fbd;
  --surface-error-subtle: #ffcac5;
  --surface-info-pressed: #003a8f;
  --surface-subtle-hover: #9ca3b2;
  --surface-default-hover: #b6becd;
  --surface-error-pressed: #7f000f;
  --surface-info-disabled: #97bfff;
  --surface-inverse-hover: #252b37;
  --surface-success-hover: #006b2d;
  --surface-warning-hover: #7b4c00;
  --surface-accent-pressed: #003a8f;
  --surface-error-disabled: #ffa098;
  --surface-success-subtle: #6afb91;
  --surface-warning-subtle: #ffd099;
  --surface-accent-disabled: #97bfff;
  --surface-default-pressed: #9ca3b2;
  --surface-secondary-hover: #9ca3b2;
  --surface-success-pressed: #004f20;
  --surface-warning-pressed: #5c3800;
  --surface-default-disabled: #d1d9e9;
  --surface-default-selected: #b6becd;
  --surface-success-disabled: #49df76;
  --surface-warning-disabled: #ffa92a;
  --surface-secondary-pressed: #828998;
  --surface-secondary-disabled: #d1d9e9;
}

[data-theme="dark"] {
  --text-info: #3d84f8;
  --text-link: #3d84f8;
  --text-brand: #3d84f8;
  --text-error: #ed4142;
  --text-muted: #6f6f78;
  --text-default: #d8d8e2;
  --text-primary: #d1d9e9;
  --text-success: #00a549;
  --text-warning: #bc7800;
  --text-disabled: #515866;
  --text-tertiary: #69707e;
  --text-on-accent: #f4f4fe;
  --text-secondary: #9ca3b2;
  --text-link-hover: #2269db;
  --text-on-inverse: #f0f5ff;
  --text-on-primary: #f0f5ff;
  --text-on-tertiary: #f0f5ff;
  --text-on-secondary: #f0f5ff;
  --icon-error: #ed4142;
  --icon-muted: #6f6f78;
  --icon-brand: #3d84f8;
  --icon-info: #3d84f8;
  --icon-accent: #6aa2ff;
  --icon-default: #a2a2ac;
  --icon-primary: #d1d9e9;
  --icon-success: #00a549;
  --icon-warning: #bc7800;
  --icon-on-color: #f0f5ff;
  --icon-tertiary: #515866;
  --icon-secondary: #9ca3b2;
  --icon-on-primary: #f0f5ff;
  --icon-on-tertiary: #f0f5ff;
  --icon-on-secondary: #f0f5ff;
  --border-info: #6aa2ff;
  --border-error: #ff6e67;
  --border-focus: #6aa2ff;
  --border-accent: #6aa2ff;
  --border-strong: #69707e;
  --border-subtle: #252b37;
  --border-default: #3b414e;
  --border-success: #1cc25c;
  --border-warning: #df8f00;
  --border-disabled: #252b37;
  --border-stronger: #9ca3b2;
  --border-info-hover: #3d84f8;
  --border-error-hover: #ed4142;
  --border-info-subtle: #003a8f;
  --border-error-subtle: #7f000f;
  --border-success-hover: #00a549;
  --border-warning-hover: #bc7800;
  --border-success-subtle: #004f20;
  --border-warning-subtle: #5c3800;
  --status-info-border: #6aa2ff;
  --status-info-default: #6aa2ff;
  --status-info-surface: #00143c;
  --status-info-on-surface: #6aa2ff;
  --status-error-border: #ff6e67;
  --status-error-default: #ff6e67;
  --status-error-surface: #340003;
  --status-error-on-surface: #ff6e67;
  --status-neutral-border: #828998;
  --status-neutral-default: #9ca3b2;
  --status-neutral-surface: #121722;
  --status-neutral-on-surface: #9ca3b2;
  --status-success-border: #1cc25c;
  --status-success-default: #1cc25c;
  --status-success-surface: #001e08;
  --status-success-on-surface: #1cc25c;
  --status-warning-border: #df8f00;
  --status-warning-default: #df8f00;
  --status-warning-surface: #241300;
  --status-warning-on-surface: #df8f00;
  --content-link: #3d84f8;
  --content-muted: #69707e;
  --content-accent: #3d84f8;
  --content-subtle: #9ca3b2;
  --content-default: #d1d9e9;
  --content-inverse: #03050e;
  --content-on-info: #f0f5ff;
  --content-disabled: #515866;
  --content-on-error: #f0f5ff;
  --content-on-accent: #f0f5ff;
  --content-on-success: #f0f5ff;
  --content-on-warning: #121722;
  --content-on-secondary: #121722;
  --content-on-info-subtle: #6aa2ff;
  --content-on-error-subtle: #ff6e67;
  --content-on-success-subtle: #1cc25c;
  --content-on-warning-subtle: #df8f00;
  --content-on-accent-disabled: #f0f5ff;
  --surface-info: #6aa2ff;
  --surface-error: #ff6e67;
  --surface-accent: #6aa2ff;
  --surface-canvas: #121722;
  --surface-subtle: #121722;
  --surface-default: #03050e;
  --surface-inverse: #d1d9e9;
  --surface-overlay: #03050e;
  --surface-success: #1cc25c;
  --surface-warning: #df8f00;
  --surface-secondary: #252b37;
  --surface-info-hover: #3d84f8;
  --surface-error-hover: #ed4142;
  --surface-info-subtle: #00143c;
  --surface-accent-hover: #3d84f8;
  --surface-error-subtle: #340003;
  --surface-info-pressed: #2269db;
  --surface-subtle-hover: #3b414e;
  --surface-default-hover: #252b37;
  --surface-error-pressed: #ce1c28;
  --surface-info-disabled: #002664;
  --surface-inverse-hover: #b6becd;
  --surface-success-hover: #00a549;
  --surface-warning-hover: #bc7800;
  --surface-accent-pressed: #2269db;
  --surface-error-disabled: #580007;
  --surface-success-subtle: #001e08;
  --surface-warning-subtle: #241300;
  --surface-accent-disabled: #002664;
  --surface-default-pressed: #3b414e;
  --surface-secondary-hover: #3b414e;
  --surface-success-pressed: #00873b;
  --surface-warning-pressed: #9b6200;
  --surface-default-disabled: #121722;
  --surface-default-selected: #252b37;
  --surface-success-disabled: #003613;
  --surface-warning-disabled: #3f2500;
  --surface-secondary-pressed: #515866;
  --surface-secondary-disabled: #121722;
}

/* CSS variables — primitivos */
:root {
  --neutral-50: #f4f4fe;
  --neutral-100: #d8d8e2;
  --neutral-200: #bdbdc6;
  --neutral-300: #a2a2ac;
  --neutral-400: #888891;
  --neutral-500: #6f6f78;
  --neutral-600: #575760;
  --neutral-700: #404048;
  --neutral-800: #2b2a32;
  --neutral-900: #16161d;
  --neutral-950: #05050a;
  --brand-50: #f0f6ff;
  --brand-100: #c4dbff;
  --brand-200: #97bfff;
  --brand-300: #6aa2ff;
  --brand-400: #3d84f8;
  --brand-500: #2269db;
  --brand-600: #004fbd;
  --brand-700: #003a8f;
  --brand-800: #002664;
  --brand-900: #00143c;
  --brand-950: #000518;
  --success-50: #dfffe4;
  --success-100: #6afb91;
  --success-200: #49df76;
  --success-300: #1cc25c;
  --success-400: #00a549;
  --success-500: #00873b;
  --success-600: #006b2d;
  --success-700: #004f20;
  --success-800: #003613;
  --success-900: #001e08;
  --success-950: #000902;
  --warning-50: #fff3e6;
  --warning-100: #ffd099;
  --warning-200: #ffa92a;
  --warning-300: #df8f00;
  --warning-400: #bc7800;
  --warning-500: #9b6200;
  --warning-600: #7b4c00;
  --warning-700: #5c3800;
  --warning-800: #3f2500;
  --warning-900: #241300;
  --warning-950: #0b0400;
  --danger-50: #fff2f0;
  --danger-100: #ffcac5;
  --danger-200: #ffa098;
  --danger-300: #ff6e67;
  --danger-400: #ed4142;
  --danger-500: #ce1c28;
  --danger-600: #a80017;
  --danger-700: #7f000f;
  --danger-800: #580007;
  --danger-900: #340003;
  --danger-950: #140001;
  --info-50: #f2f4ff;
  --info-100: #cfd6ff;
  --info-200: #adb8ff;
  --info-300: #8d98ff;
  --info-400: #6f75ff;
  --info-500: #5959e3;
  --info-600: #443dc6;
  --info-700: #321ca9;
  --info-800: #220081;
  --info-900: #11004e;
  --info-950: #040021;
  --gray-50: #f0f5ff;
  --gray-100: #d1d9e9;
  --gray-200: #b6becd;
  --gray-300: #9ca3b2;
  --gray-400: #828998;
  --gray-500: #69707e;
  --gray-600: #515866;
  --gray-700: #3b414e;
  --gray-800: #252b37;
  --gray-900: #121722;
  --gray-950: #03050e;
}
