:root {
  /* Primitivos */
  --font-family-display: "Inter", sans-serif;
  --font-family-heading: "Inter", sans-serif;
  --font-family-subtitle: "Inter", sans-serif;
  --font-family-button: "Inter", sans-serif;
  --font-family-body: "DM Sans", sans-serif;
  --font-family-caption: "DM Sans", sans-serif;
  --font-size-100: 10px;
  --font-size-200: 13px;
  --font-size-300: 16px;
  --font-size-400: 20px;
  --font-size-500: 25px;
  --font-size-600: 31px;
  --font-size-700: 39px;
  --font-size-800: 49px;
  --font-size-900: 61px;
  --font-size-1000: 76px;
  --font-size-1100: 95px;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Semánticos */
  --text-display-large-size: var(--font-size-1000);
  --text-display-large-line-height: 1.05;
  --text-display-large-letter-spacing: -0.03em;
  --text-display-large-weight: var(--font-weight-bold);
  --text-display-medium-size: var(--font-size-900);
  --text-display-medium-line-height: 1.08;
  --text-display-medium-letter-spacing: -0.025em;
  --text-display-medium-weight: var(--font-weight-bold);
  --text-display-small-size: var(--font-size-800);
  --text-display-small-line-height: 1.1;
  --text-display-small-letter-spacing: -0.02em;
  --text-display-small-weight: var(--font-weight-bold);
  --text-heading-h1-size: var(--font-size-700);
  --text-heading-h1-line-height: 1.2;
  --text-heading-h1-letter-spacing: -0.02em;
  --text-heading-h1-weight: var(--font-weight-bold);
  --text-heading-h2-size: var(--font-size-600);
  --text-heading-h2-line-height: 1.25;
  --text-heading-h2-letter-spacing: -0.015em;
  --text-heading-h2-weight: var(--font-weight-bold);
  --text-heading-h3-size: var(--font-size-500);
  --text-heading-h3-line-height: 1.3;
  --text-heading-h3-letter-spacing: -0.01em;
  --text-heading-h3-weight: var(--font-weight-semibold);
  --text-heading-h4-size: var(--font-size-400);
  --text-heading-h4-line-height: 1.35;
  --text-heading-h4-letter-spacing: 0em;
  --text-heading-h4-weight: var(--font-weight-semibold);
  --text-subtitle-large-size: var(--font-size-400);
  --text-subtitle-large-line-height: 1.5;
  --text-subtitle-large-letter-spacing: 0em;
  --text-subtitle-large-weight: var(--font-weight-medium);
  --text-subtitle-medium-size: var(--font-size-300);
  --text-subtitle-medium-line-height: 1.5;
  --text-subtitle-medium-letter-spacing: 0em;
  --text-subtitle-medium-weight: var(--font-weight-medium);
  --text-subtitle-small-size: var(--font-size-200);
  --text-subtitle-small-line-height: 1.5;
  --text-subtitle-small-letter-spacing: 0em;
  --text-subtitle-small-weight: var(--font-weight-medium);
  --text-button-large-size: var(--font-size-400);
  --text-button-large-line-height: 1.25;
  --text-button-large-letter-spacing: 0.01em;
  --text-button-large-weight: var(--font-weight-semibold);
  --text-button-medium-size: var(--font-size-300);
  --text-button-medium-line-height: 1.25;
  --text-button-medium-letter-spacing: 0.01em;
  --text-button-medium-weight: var(--font-weight-semibold);
  --text-button-small-size: var(--font-size-200);
  --text-button-small-line-height: 1.25;
  --text-button-small-letter-spacing: 0.01em;
  --text-button-small-weight: var(--font-weight-semibold);
  --text-button-extrasmall-size: var(--font-size-100);
  --text-button-extrasmall-line-height: 1.25;
  --text-button-extrasmall-letter-spacing: 0.01em;
  --text-button-extrasmall-weight: var(--font-weight-semibold);
  --text-body-large-size: var(--font-size-400);
  --text-body-large-line-height: 1.65;
  --text-body-large-letter-spacing: 0em;
  --text-body-large-weight: var(--font-weight-regular);
  --text-body-medium-size: var(--font-size-300);
  --text-body-medium-line-height: 1.65;
  --text-body-medium-letter-spacing: 0em;
  --text-body-medium-weight: var(--font-weight-regular);
  --text-body-small-size: var(--font-size-200);
  --text-body-small-line-height: 1.6;
  --text-body-small-letter-spacing: 0.01em;
  --text-body-small-weight: var(--font-weight-regular);
  --text-caption-1-size: var(--font-size-200);
  --text-caption-1-line-height: 1.5;
  --text-caption-1-letter-spacing: 0.01em;
  --text-caption-1-weight: var(--font-weight-regular);
  --text-caption-1-b-size: var(--font-size-200);
  --text-caption-1-b-line-height: 1.5;
  --text-caption-1-b-letter-spacing: 0.01em;
  --text-caption-1-b-weight: var(--font-weight-medium);
  --text-caption-2-size: var(--font-size-100);
  --text-caption-2-line-height: 1.5;
  --text-caption-2-letter-spacing: 0.02em;
  --text-caption-2-weight: var(--font-weight-regular);
}
